@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #171717;
  background-color: #EEEEEE;
}

.main {
  font-family: 'Inter', sans-serif;
}

.navbar {
  color: #B4B4B4;
}


.contacts {
  color: #B4B4B4;
}
